@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');

body {
    max-width: 100%;
    border: transparent;
    border-radius: 30px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

header {
    max-width: 100%;
    background-color: darkcyan;
    padding: 2em;
    color: white;
    text-align: center;
}

ul li {
    list-style: initial;
}

img {
    float: right;
}

footer {
    max-width: 100%;
    background-color: darkcyan;
    padding: 2em;
    color: white;
    text-align: center;
}