@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');

body {
    margin: auto;
    max-width: 50%;
    border: transparent;
    border-radius: 30px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

header {
    max-width: 100%;
    border-radius: 8px;
    background-color: rgb(139, 74, 0);
    padding: 4px;
    color: white;
    text-align: center;
    font-size: 30px;
}

h2 {
    padding: 10px;
    border-bottom: 1px solid #888;
}

ol {
    list-style: initial;
}

img {
    max-width: 200px;
    margin-top: -210px;
    margin-right: 10px;
    float: right;
    border-radius: 8px;
    box-shadow: 3px 3px 4px 4px rgba(136, 136, 136, 0);
}

footer {
    max-width: 100%;
    border-radius: 8px;
    background-color: rgb(139, 74, 0);
    padding: 2em;
    color: white;
    text-align: center;
}

footer p a {
    color: rgb(211, 223, 106);
}

#currentdatetime {
    color:rgb(190, 218, 32);
}