@media  only screen and (min-width: 50em) {
    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
        flex: 1 1 100%;
        border-radius: 10px;
    }

    nav ul li {
        flex: 1;
    }
}