@media  only screen and (min-width: 80em) {
    .bannerArea {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .bannerArea picture:nth-child(3) {
        display: inline;
    }

    /*contact area*/
    #contactSection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #actionBox {
        display: initial;
        border: 5px solid #FC7753;
        padding: 1em;
        box-shadow: 5px 5px 5px #747149ad;
        margin: 10px;
    }

    /*directory page*/
    .cardGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*join page*/
    #levelsdescription {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media  only screen and (min-width: 90em) {
    .bannerArea {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .bannerArea picture:nth-child(4) {
        display: inline;
    }

    /*directory page*/
    .cardGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /*join page*/
    #levelsdescription {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}