body {
    font-family: "Ubuntu", sans-serif;
}

table {
    border-collapse: collapse;
    box-shadow: 20px 20px 20px  rgba(23, 61, 105, 0.52);
    margin: 5% auto;
}

th, td {
    border: thin solid #263744;
    padding: 10px;
    text-align: center;
}

thead, tbody {
    font-size: 1.5em;
}

thead {
    font-weight: bolder;
}

tbody > tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody > tr:nth-child(even) {
    background-color: #e7ffed;
}

thead > tr:nth-child(1) {
    font-size: 1.5em;
}

thead > tr:nth-child(1), tfoot > tr {
    background-color: #7fb9c2;
}

thead > tr:nth-child(2), #blackFriday {
    background-color: #628ca6;
    color: white;
}