@media  only screen and (min-width: 70em) {
    html {
        background-color: #06BEE1;
    }
    
    body {
        max-width: 70%;
        margin: 0 auto;
        background-color: #FFFFFF;
        padding: 1em;
    }
}