@media  only screen and (min-width: 300px) {
    
    /*body {
        max-width: 70%;
        margin: 0 auto;
        background-color: #FFFFFF;
        padding: 1em;
    }

    li, p {
        font-size: 1.2em;
    }*/

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
        flex: 1 1 100%;
        border-radius: 0 0 10px 10px;
    }

    nav ul li {
        flex: 1;
    }

    .forecast {
        display: block;
    }

    .days, .weather  {
        display: flex;
        flex: 1 1 100%;
        list-style-type: none;
        border: 1px solid #000000;
        color: white;
        background-color: #1768AC;
    }

    .days li, .weather li {
        padding: 10px;
        margin: 0 auto;
    }

    .contact {
        overflow: auto;
    }

    .contact .map {
        display: inline;
        float: left;
        margin-right: 15px;
    }
    
    .contact ul {
        display: block;
    }

    .weather-summary {
        position: absolute;
        top: 20px;
        left: 50px;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5em;
    }

    .gallery figure {
        margin: 0;
        width: 100%;
    }

    /*storm center page*/
    #form {
        max-width: 70%;
    }
    
    /*home-page*/
    .home-page .articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .home-page article {
        display: block;
    }

    .home-page article figure {
        width: 100%;
        margin: 0;
    }

    .articles article img {
        width: 100%;
        height: 50%;
    }

    .articles .town-data {
        grid-row: 1;
        justify-self: center;
    }
}